In [58]:
import pandas as pd
import numpy as np
from sklearn import preprocessing

In [24]:
user_df = pd.read_csv('./data/user_handcrafted_features.csv')

In [25]:
user_df.head(10)

,new_use_id,old_use_id,taobao_record_count,taobao_buy_count,taobao_click_count,taobao_buy_ratio,taobao_items_buy_count,taobao_items_click_count,taobao_items_buy_ratio,taobao_cats_buy_count,taobao_cats_click_count,taobao_cats_buy_ratio,koubei_record_count,koubei_locations_count,koubei_merchant_count
0,0,1980536,1948,4,1944,0.002053,4,323,0.012232,2,25,0.074074,0,0,0
1,1,647747,337,8,329,0.023739,8,266,0.029197,5,27,0.156250,0,0,0
2,2,183647,431,79,352,0.183295,56,220,0.202899,18,27,0.400000,0,0,0
3,3,723956,384,59,325,0.153646,42,203,0.171429,17,23,0.425000,0,0,0
4,4,1781938,151,8,143,0.052980,8,99,0.074766,6,20,0.230769,0,0,0
5,5,1652831,370,15,355,0.040541,12,164,0.068182,7,16,0.304348,2,1,1
6,6,416403,1055,30,1025,0.028436,16,651,0.023988,9,30,0.230769,0,0,0
7,7,43130,249,31,218,0.124498,29,158,0.155080,9,24,0.272727,23,2,1
8,8,502518,316,26,290,0.082278,20,186,0.097087,7,22,0.241379,0,0,0
9,9,109400,221,9,212,0.040724,6,124,0.046154,5,11,0.312500,0,0,0

In [26]:
user_df.shape

(963923, 15)

In [38]:
user_df[user_df.taobao_record_count > 0].shape

(963923, 15)

In [27]:
user_df_in_koubei = user_df[user_df.koubei_record_count > 0]

In [28]:
user_df_in_koubei.shape

(167079, 15)

In [57]:
user_df_in_koubei.to_csv('./data/user_167079.csv', index = False)

In [45]:
user_df_in_koubei.head(5)

,new_use_id,old_use_id,taobao_record_count,taobao_buy_count,taobao_click_count,taobao_buy_ratio,taobao_items_buy_count,taobao_items_click_count,taobao_items_buy_ratio,taobao_cats_buy_count,taobao_cats_click_count,taobao_cats_buy_ratio,koubei_record_count,koubei_locations_count,koubei_merchant_count
5,5,1652831,370,15,355,0.040541,12,164,0.068182,7,16,0.304348,2,1,1
7,7,43130,249,31,218,0.124498,29,158,0.155080,9,24,0.272727,23,2,1
28,28,988047,96,2,94,0.020833,2,76,0.025641,2,20,0.090909,1,1,1
31,31,1032167,44,4,40,0.090909,3,37,0.075000,2,1,0.666667,3,1,2
37,37,466466,65,0,65,0.000000,0,41,0.000000,0,8,0.000000,1,1,1

In [29]:
user_df_in_koubei_sorted = user_df_in_koubei.sort_values(by = 'koubei_record_count', ascending = False, inplace = False)

In [35]:
counts = []
for i in range(1, 11):
    counts.append(user_df_in_koubei_sorted[user_df_in_koubei_sorted['koubei_record_count'] > i].shape[0])

In [36]:
counts

[105713, 77800, 60955, 49162, 40261, 33309, 27831, 23489, 19825, 16863]

In [50]:
user_ndarr = user_df_in_koubei.values[:,2:]

In [51]:
user_ndarr[0,:]

array([3.70000000e+02, 1.50000000e+01, 3.55000000e+02, 4.05405405e-02,
       1.20000000e+01, 1.64000000e+02, 6.81818182e-02, 7.00000000e+00,
       1.60000000e+01, 3.04347826e-01, 2.00000000e+00, 1.00000000e+00,
       1.00000000e+00])

In [52]:
user_ndarr.shape

(167079, 13)

In [53]:
min_max_scaler = preprocessing.MinMaxScaler()  
user_ndarr_normalized = min_max_scaler.fit_transform(user_ndarr)
print(user_ndarr_normalized.shape)

(167079, 13)

In [55]:
user_ndarr_normalized[0,:]

array([0.00442961, 0.00547246, 0.00426206, 0.04054054, 0.01442308,
       0.00804553, 0.06818182, 0.2       , 0.24242424, 0.30434783,
       0.00396825, 0.        , 0.        ])

In [56]:
np.save('./data/user_167079.npy', user_ndarr_normalized)